@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "inter", sans-serif;
}

/*
html {
  font-size: 14px;
  zoom: 0.9;
}

body {
  scroll-behavior: smooth;
  transform: scale(0.9);
  transform-origin: top left;
  width: 111.11%;
  height: 111.11%;
  max-width: 1200px;
}

.MuiContainer-root {
  max-width: 100% !important;
} */
